<%= render 'projects/sidebar' %>
<div class="main-content">
	<div class="container">
		<div class="row">
			<div class="area-top clearfix">
				<div class="pull-left header">
					<h3 class="title">
						Profile
					</h3>
				</div>
			</div>
		</div>
		<%= form_for [@project, @report], url: wizard_path do |f| %>
			<%= render "reports/scenario_step_profile", f: f %>
			<div class="container" >
				<div class="pull-right">
					<%= f.submit "Continue", class: "btn btn-large btn-default" %>
					or <%= link_to "skip this step", next_wizard_path, class: "btn btn-large btn-default" %>
				</div>
			</div>			
		<% end %>
	</div>
</div>