<div class="sidebar-background">
	<div class="primary-sidebar-background"></div>
</div>

<div class="primary-sidebar">
	<!-- Main nav -->
	<ul class="nav navbar-collapse collapse navbar-collapse-primary">
		<li class="active">
			<span class="glow"></span>
			<%= link_to @project do %>
				<span>Dashboard</span>
			<% end %>
		</li>

		<li class="">
			<span class="glow"></span>
			<%= link_to new_project_report_path(@project) do %>
				<span>Profile</span>
			<% end %>
		</li>

		<li class="">
			<span class="glow"></span>
			<%= link_to project_reports_path(@project) do %>
				<span>Report List</span>
			<% end %>
		</li>

		<li class="">
			<span class="glow"></span>
			<%= link_to "#" do %>
				<span>Events</span>
			<% end %>
		</li>

		<li class="">
			<span class="glow"></span>
			<%= link_to project_scenarios_path(@project) do %>
				<span>Test List</span>
			<% end %>
		</li>

	</ul>
</div>