<div class="container">
	<div class="add">
		<%= link_to "#modal-project-new", class: "btn btn-large btn-default add-project-button", data: {toggle: "modal"} do %>
			<span>Add + </span>
		<% end %>
	</div>

	<div id="modal-project-new" class="modal fade", style="display: none;" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
					<h5>Project New</h5>
				</div>
				<div class="modal-body">
					<%= simple_form_for @project do |f| %>
						<%= f.input :name %>
						<%= f.button :submit, "Create" %>
					<% end  %>
				</div>
				<div class="modal-footer">
					
				</div>
			</div>
		</div>
	</div>

	<div class="col-md-8 col-md-offset-2">

		<div class="padded">

			<div class="title">
				<button class="btn btn-large btn-default" style="width: 350px;height: 50px;text-align: left;font-size: 25px;cursor:default;">My Projects</button>
			</div>
			
			<div class="container">
				<div class="row padded" style="font-size:18px;">

					<% @projects.each do |p| %>
						<div class="col-md-12" onclick="myFunction()">
 			            <%= link_to p do %>
							<div class="box">
								<div class="box-content padded">
									<div class="row">
										 <div id="item" class="col-md-4">
										 	<% if p.reports.first  %>
										 		<%= image_tag p.reports.first.app_icon, size: "50x50" %>
										 	<% end  %>
                    					   <p style="font-size: 15pt"><b><%= p.name %></b></p>
										</div>
										<div class="col-md-8">
											<div class="row">
												<div class="col-md-4">
							                       <span><label>App Version</label></span><br>
							                       <span><p class="text-warning"><%= p.reports[0].appversion unless p.reports.count == 0 %></p></span>
							                       <span><label>Profiling Time</span><br>
							                       <span><p class="text-danger"><%= p.reports[0].time_for_profiling unless p.reports.count == 0 %></p></span><br>
							                       
							                     </div>
							                     <div class="col-md-4">    
							                       <span><label>Os Version</label></span><br>
							                       <span><p class="text-success"><%= p.reports[0].osversion unless p.reports.count == 0 %></p></span>
							                       <span><label>Status</label></span><br>
							 					   <span><p class="text-info"><%= p.reports[0].error_status_str unless p.reports.count == 0 %></p></span>  
												</div>
												 <div class="col-md-4"></div>
												 <span><label>Scenario ID</label></span><br>
												 <span><p class="text-muted"><%= p.reports[0].scenario_id unless p.reports.count == 0 %></p></span><br>

											</div>
										</div>
									</div>
								</div>
							</div>
							<% end  %>
						</div>
					<% end %>

				</div>
			</div>

		</div>

	</div>
</div>