<div>
	<h1>Select Scenario for Profiling</h1>
	
	<%= link_to "#" do %>
		<span> 테스트 시나리오를 만드셨나요? </span>
	<% end  %>
	<span> 시나리오 없이 프로파일링 가능합니다</span>
</div>



<div class="container">
	<div class="row">
		<div class="col-md-12" >
			<div class="box" >
				<div class="box-content">
					<table class="table table-normal">
						<thead>
							<tr>
								<td>Scnario</td>
								<td>Event Paths</td>
								<td>Based on User</td>
								<td>Date</td>
								<td></td>
							</tr>
						</thead>
						<tbody>
							<% @scenarios.each do |s| %>
								<tr id="scenario_item">
									<td>
										<%= link_to "#modal-scenario-records", data: {toggle: "modal"} do %>
											<h2 style="margin-top: 5px;"><%= s.name %></h2>
											<span>
												<%= s.description %>
											</span>
										<% end  %>
										<div id="modal-scenario-records" class="modal fade", style="display: none;" aria-hidden="true">
											<div class="modal-dialog">
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
														<h5><%= s.name %> Record</h5>
													</div>
													<div class="modal-body">
														<div class="box">
															<div class="box-content">
																<div id="row">
																	<table class="table table-normal">
																		<thead>
																			<tr>
																				<td></td>
																				<td>Type</td>
																				<td>View</td>
																				<td>Param</td>
																			</tr>
																		</thead>
																		<tbody>
																		<% s.records.each do |record| %>					
																			<tr>
																				<td><%= record.id %></td>
																				<td><%= record.act_type %></td>
																				<td><%= record.view %></td>
																				<td><%= record.param %></td>
																			</tr>
																		<% end  %>
																		</tbody>
																	</table>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</td>
									<td>
										 14
									</td>
									<td>
										 check
									</td>
									<td>
										 01 Oct
									</td>
									<td>
										 <%= f.radio_button :scenario_id, s.id.to_i %>
									</td>
								</tr>
							<% end %>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>