
<div class="container">
	<div class="container">
		<div class="row">
			<div class="area-top clearfix">
				<div class="pull-left header">
					<h3 class="title" id="topreport">
						Report
					</h3>
					<h5>
						<span>
							Report
						</span>
					</h5>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="box">
				<div class="box-content">
					<div class="container padded">
						<div class="row">
							<div class="col-md-4">
								<%= image_tag @project.reports.first.app_icon, size: "50x50" %>
								<div class="report-name">
									<span>Name</span>
									<span><%= @project.name %></span>
								</div>
								<div class="report-appversion">
									<span>App Version</span>
									<span><%= @report.appversion %></span>
								</div>
								<div class="report-osversion">
									<span>OS Version</span>
									<span><%= @report.osversion %></span>
								</div>
							</div>
							<div class="col-md-4">
								<div class="report-time-for-profiling">
									<span>Time for profiling</span>
									<span><%= @report.time_for_profiling %></span>
								</div>
								<div class="report-date">
									<span>Date</span> 
									<span><%= @report.created_at_date %></span>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>	
		</div>
		<%= render "scenarios/recordnode" %>

		<% unless @memory.nil? %>
			<%= render "memories/memory" %>
		<% end  %>
		<style>
			.hovertd:hover {
			    cursor: pointer; cursor: hand;
			    background: #34C9D7;
			    font-family:arial;color:white;
			}
			.hovertr:hover {
				cursor: pointer; cursor: hand;
				background: #34C9D7;
			}
			.hovertd:hover a{
				font-family:arial;color:white;
			}
		</style>
		<center>
		<table class="table table-normal" style="width:70%">
			<thead>
				<tr style="bgcolor:#FFFFFF">
					<td class="hovertd"><a href="#topreport">top</a></font></td>
					<td class="hovertd"><a href="#jumpmemory">memory</a></td>
					<td class="hovertd"><a href="#jumptocpu">cpu</a></td>
					<td class="hovertd"><a href="#jumptonetwork">network</a></td>
					<td class="hovertd"><a href="#jumptobattery">battery</a></td>
				</tr>
			</thead>
		</table>
		</center>
		<br>
		<% unless @cpu.nil?  %>
			<%= render "cpus/cpu" %>
		<% end  %>
		<center>
		<table class="table table-normal" style="width:70%">
			<thead>
				<tr style="bgcolor:#FFFFFF">
					<td class="hovertd"><a href="#topreport">top</a></font></td>
					<td class="hovertd"><a href="#jumpmemory">memory</a></td>
					<td class="hovertd"><a href="#jumptocpu">cpu</a></td>
					<td class="hovertd"><a href="#jumptonetwork">network</a></td>
					<td class="hovertd"><a href="#jumptobattery">battery</a></td>
				</tr>
			</thead>
		</table>
		</center>
		<br>
		<% unless @network.nil?  %>
			<%= render 'networks/network' %>
		<% end  %>
		<center>
		<table class="table table-normal" style="width:70%">
			<thead>
				<tr style="bgcolor:#FFFFFF">
					<td class="hovertd"><a href="#topreport">top</a></font></td>
					<td class="hovertd"><a href="#jumpmemory">memory</a></td>
					<td class="hovertd"><a href="#jumptocpu">cpu</a></td>
					<td class="hovertd"><a href="#jumptonetwork">network</a></td>
					<td class="hovertd"><a href="#jumptobattery">battery</a></td>
				</tr>
			</thead>
		</table>
		</center>
		<br>
		<% unless @battery.nil?  %>
			<%= render 'batteries/battery' %>
		<% end  %>		
		<center>
		<table class="table table-normal" style="width:70%">
			<thead>
				<tr style="bgcolor:#FFFFFF">
					<td class="hovertd"><a href="#topreport">top</a></font></td>
					<td class="hovertd"><a href="#jumpmemory">memory</a></td>
					<td class="hovertd"><a href="#jumptocpu">cpu</a></td>
					<td class="hovertd"><a href="#jumptonetwork">network</a></td>
					<td class="hovertd"><a href="#jumptobattery">battery</a></td>
				</tr>
			</thead>
		</table>
		</center>
	</div>
</div>